<footer class="bg-black text-light p-4 mt-auto">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-6 text-md-start mb-3 mb-md-0">
                <p class="mb-0">&copy; 2025 Кімачук. Всі права захищено.</p>
            </div>

            <div class="col-md-6 text-md-end">
                <a href="#" class="text-light me-3"><i class="bi bi-telegram fs-4"></i></a>
                <a href="#" class="text-light"><i class="bi bi-linkedin fs-4"></i></a>
            </div>
        </div>
    </div>
</footer>