<nav class="navbar navbar-expand-lg shadow-sm">
    <!-- bg-light -->
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.resume') }}"> <i class="bi bi-box-seam-fill"></i> Кімачук
            Володимир
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('main.resume') }}#bio">Про мене</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.resume') }}#skills">Навички</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.resume') }}#education">Освіта</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.contacts') }}">Контакти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.admin') }}">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('product.get_products') }}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('posts.get_posts') }}">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.profile') }}">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>