{% extends "base.html" %}

{% block content %}{% from "_macros.html" import
render_field %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10">

            <h2 class="display-6 text-center mb-4">
                <i class="bi bi-envelope-paper-fill me-2"></i>
                Зв'яжіться зі мною
            </h2>
            <p class="text-center text-muted mb-5">
                Будь ласка, заповніть форму нижче, і я відповім вам найближчим часом.
            </p>

            <form method="POST" novalidate>
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ render_field(form.name, placeholder="Іван Петренко") }}
                </div>

                <div class="mb-3">
                    {{ render_field(form.email, placeholder="example@gmail.com") }}
                </div>

                <div class="mb-3">
                    {{ render_field(form.phone, placeholder="+380XXXXXXXXX") }}
                </div>

                <div class="mb-3">
                    {{ render_field(form.subject) }}
                </div>

                <div class="mb-3">
                    {{ render_field(form.message, placeholder="Введіть ваше повідомлення тут...") }}
                </div>

                <div class="d-grid">
                    {{ form.submit(class="btn btn-primary btn-lg") }}
                </div>

            </form>

        </div>
    </div>
</div>
{% endblock %}